/*/ Fontes */

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  /*---------------------------------------------*/

  html, body {
    margin: 0;
    padding: 0;
  }
  input {
      outline: none;
      border: none;
  }
  
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-cadastro {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }
  
  .wrap-cadastro {
    width: 960px;
    background: #f4f0f5;
    border-radius: 7px;
    overflow: hidden;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5rem 130px 5rem 95px;
  }
  
  .cadastro-logo {
    display: flex;
    align-items: center;
    width: 316px;
  }
  
  .cadastro-logo img {
    max-width: 100%;
  }
  
  .cadastro-form {
    width: 40%;
  }
  

  .cadastro-text{
    font-family: Poppins-Bold;
    font-size: 1.0rem;
    color: #333333;
    line-height: 1.1;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 1rem;
  }

  .cadastro-form-header {
    font-family: Poppins-Bold;
    font-size: 1.8rem;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 1rem;
  }
  
  .wrap-input {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .input {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    border: 1px solid #d3d3d3;
  
    width: 100%;
    display: block;
    background: #f4f0f5;
    height: 50px;
    border-radius: 0.8rem;
    padding: 0 1rem 0 1rem;
  }
  
  input:focus {
    border-color: #b3b3b3;
  }
  
  .input-header {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    font-family: Poppins-Regular;
    font-weight: 500;
  }
  
  .container-cadastro-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .login-form-btn {
    font-family: Montserrat-Bold;
    font-size: 1rem;
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 0.8rem;
    background: #7A6C9D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-cadastrese {
    display: flex;
    padding-top: 136px;
    justify-content: center;
  }
  
  .cadastro-form-btn {
    display: block;
    font-family: Montserrat-Bold;
    font-size: 1rem;
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 0.8rem;
    background: #7A6C9D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Responsividade */
  
  @media (max-width: 992px) {
    .wrap-login {
      padding: 177px 90px 33px 85px;
    }
  
    .login-logo {
      width: 35%;
    }
  
    .login-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-login {
      padding: 100px 80px 33px 80px;
    }
  
    .login-logo {
      display: none;
    }
  
    .login-form {
      width: 100%;
    }
  }
  

  /* Responsividade */

  @media (max-width: 576px) {
    .wrap-cadastro {
      padding: 100px 15px 33px 15px;
    }
  }
  
  @media (max-width: 992px) {
    .wrap-cadastro {
      padding: 177px 90px 33px 85px;
    }
  
    .cadastro-logo {
      width: 35%;
    }
  
    .cadastro-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-cadastro {
      padding: 100px 80px 33px 80px;
    }
  
    .cadastro-logo {
      display: none;
    }
  
    .cadastro-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-cadastro {
      padding: 100px 15px 33px 15px;
    }
  }
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
  
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }