/*/ Fontes */

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.limiter {
  width: 100%;
  height: 45.7rem;
  /*height: 100%;*/
  /*margin: 0 auto;*/
  /*margin: auto;*/
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.container-quickMenu {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  padding: 5px 15px;
}


.wrap-quickMenu {
  width: 25rem;
  height: 3rem;
  background: rgba(204, 195, 214, 0.333);
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 55px;
  justify-content: space-between;
  /* padding: 1px; */
}

.wrap-quickMenu ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  color: #111;
}

.container-battle {
  width: 100%;  
  height: 100%;
  /*min-height: 100vh;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*padding-bottom: 45px;*/
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
/*Warp-login has a background that always covers all wrap-login*/
.battle-field {
  /*width: 960px;*/
  /*height: 540px;*/
  width: 90%;
  height: 80%;
  background: #f4f0f5;
  border-radius: 7px;
  overflow: hidden;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #be0000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  /*padding: 30px 80px 0px 80px;*/
}

/*Align everything in middle, make images size constant*/
.battle-field__player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
} 

/*Align div with the bottom of the screen*/
.battle-field__player__image{
  width: 100%;
  height: 70%;
  flex-wrap: wrap;
  display: flex;
  padding-top: 7rem;
  padding-bottom: 7rem;
  justify-content: center;
  align-items: center;
}

.battle-field__player__image img{
  width: 80%;
  height: 100%;
  object-fit: contain;
}

/*Align everything in middle, make images size constant*/
.battle-field__enemy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

/*Align div with the bottom of the screen*/
.battle-field__enemy__image{
  width: 100%;
  height: 70%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.battle-field__enemy__image img{
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.login-logo {
  width: 316px;
}

.login-logo img {
  max-width: 100%;
}

.login-form {
  width: 290px;
}

.login-form-header {
  font-family: Poppins-Bold;
  font-size: 1.8rem;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.wrap-input {
  width: 100%;
  margin-bottom: 15px;
}

.input {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  border: 1px solid #d3d3d3;

  display: block;
  width: 100%;
  background: #f4f0f5;
  height: 50px;
  border-radius: 0.8rem;
  padding: 0 1rem 0 1rem;
}

input:focus {
  border-color: #b3b3b3;
}

.input-header {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  font-family: Poppins-Regular;
}

.container-login-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.location-btn {
  font-family: Montserrat-Bold;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 0.8rem;
  background: #7A6C9D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-cadastrese {
  display: flex;
  padding-top: 136px;
  justify-content: center;
}



/* Responsividade */

@media (max-width: 992px) {
  /*.wrap-login {*/
  /*  padding: 177px 90px 33px 85px;*/
  /*}*/

  .login-logo {
    width: 35%;
  }

  .login-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  /*.wrap-login {*/
  /*  padding: 100px 80px 33px 80px;*/
  /*}*/

  .login-logo {
    display: none;
  }

  .login-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  /*.wrap-login {*/
  /*  padding: 100px 15px 33px 15px;*/
  /*}*/
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}